*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
